<a href="https://colab.research.google.com/github/Ravikumarchavva/Ravi-kumar-svce/blob/main/Copy_of_linear_regmv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')
!pip install word2number

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model as lm
from word2number import w2n

In [5]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [8]:
df.experience.fillna('zero',inplace=True)
df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].median(),inplace=True)
df['experience']=df['experience'].apply(w2n.word_to_num)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [11]:
reg=lm.LinearRegression()
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary($)'])

LinearRegression()

In [12]:
reg.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [13]:
reg.intercept_

17737.263464337688

In [15]:
reg.predict([[10,8,2]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([65042.94032023])