In [2]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("/workspaces/Ravi-kumar-svce/DOC-20221023-WA0000.csv")
df.head(67)

,ROLLNO,COURSE,BRANCH,Unnamed: 3,Unnamed: 4,YEAR,NAME,Father Name,Address,Address 1,...,PHOTO,BARCODE,Adhar NO,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,x
0,21BF1A3201,B.Tech,CSD,NaN,NaN,2021-25,A. Charan,A. Lakshmi pathi,"1-32 , Jangala palli(v) , Chittoor",Chittoor(district),...,NaN,NaN,837906199596,NaN,NaN,NaN,s,NaN,NaN,NaN
1,21BF1A3202,B.Tech,CSD,NaN,NaN,2021-25,A.Lolitha sree,A.venkatramana Reddy,"2-332/1,santhi nagar,Chittoor Road","piler,chittoor district",...,NaN,NaN,601434266941,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21BF1A3203,B.Tech,CSD$,NaN,NaN,2021-25,A.Rohini,A.Vijaya kumar,"13-5-531B1/8,Tata nagar, tirupati",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21BF1A3204,B.Tech,CSD,NaN,NaN,2021-25,Akkayyagari Venkateswarlu,A.Subrahmanyam,"Varagali(V),Chillakur(M)","Nellore (dist),A.P",...,NaN,NaN,794871645924,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21BF1A3205,B.Tech,CSD,NaN,NaN,2021-25,A.Tharun Kumar Reddy,A.Venkata Ramana Reddy,"Golla palli (v), Hasnapuram (G), Ramapuram (M)","Kadapa (D), AP",...,NaN,NaN,237256044625,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,21BF1A3261,B.Tech,CSD,NaN,NaN,2021-25,V Ajay,A Vinsent,"17/517,pathinikulam street ,near old checkpost...",NaN,...,NaN,NaN,741877266124,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,21BF1A3262,B.Tech,CSD,NaN,NaN,2021-25,V Madhu Priya,R Vivegananthan,"5-973/1,Subhash Chandra Boss street,Santhapet","Chittoor,Andhra Pradesh",...,NaN,NaN,333183862032,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,21BF1A3263,B.Tech,CSD,NaN,NaN,2021-25,Vemuri Murali Neha,Vemuri Murali Naidu,"2-147, T. T. D plots","M. R. Palli, Tirupathi",...,NaN,NaN,739832211430,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,21BF1A3264,B.Tech,CSD,NaN,NaN,2021-25,Vutukuri Varshitha,Vutukuri Venkata Ramesh,"stone house pet,pappula street.",Nellore,...,NaN,NaN,273779847506,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,21BF1A3265,B.Tech,CSD,NaN,NaN,2021-25,Yekabote Soma Shekhar,Yekabote Ramesh,"7-87-6, Madhava Nagar","Dharmavaram, Ananthapur dist",...,NaN,NaN,828793610648,NaN,NaN,NaN,NaN,NaN,NaN,NaN